<div class="container my-5">
	<h1>Cocktails</h1>
	<div class="cards">
	<% @cocktails.each do |cocktail| %>
		<div class="card">
		<h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
		</div>
	<% end %>
</div>
<%= link_to "Add cocktail", new_cocktail_path %>
</div>